*.o
*.builtin
*.order
*.cmd
*.ko
*.d
*.a
.tmp*
include/config
include/generated

# None of these files is contained in a directory which we can ignore. :(

arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/Image
arch/arm/boot/zImage
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
.config
.config.old
drivers/bluetooth/bthid/bthid.mod.c
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
drivers/media/video/gspca/gspca_main.mod.c
drivers/net/wireless/bcm4330/dhd.mod.c
drivers/samsung/fm_si4709/Si4709_driver.mod.c
drivers/samsung/j4fs/j4fs.mod.c
drivers/samsung/vibetonz/vibrator.mod.c
drivers/scsi/scsi_wait_scan.mod.c
include/linux/version.h
kernel/bounds.s
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
Module.symvers
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/conmakehash
scripts/genksyms/genksyms
scripts/genksyms/keywords.c
scripts/genksyms/lex.c
scripts/genksyms/parse.c
scripts/genksyms/parse.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
System.map
usr/gen_init_cpio
usr/initramfs_data.cpio
.version
vmlinux

